@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Medicare Hospital Limited</h1>
        <p>
            <h3>Md. Iqramul Hoque</h3>
            <h3>ID : 1263087</h3>
            <h3>Round : 46</h3>
            <h3>Using Code First Approach</h3>

        </p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Hospital</h2><br />
        <p>
            Medicare Hospital Limited expect you led a happy life. If you feel bad about your health you can contact us without any hesitation.
            Our hospital also provide you outdoor facilities.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Doctors</h2><br />
        <p>
            You can get any health related information from our Doctors and Staff
            we provide our Doctors information with their contact number in this site. You can contact directly with doctors
            without any hesitation.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Authority</h2><br />
        <p>
            <h4>User Name : Iqramul</h4>
            <h4>Password : Iqramul@123%</h4>
        </p>
    </div>
</div>